<html>
<body>
	<h1>Mon appli vuejs</h1>
	<div id="app">
		Mon message {{ message }}
		<button v-bind:title="message" v-on:click="reverseMessage">clic</button>
		<p v-if="seen">Maintenant vous me voyez</p>
	  <ol>
        <todo-item v-bind:todo="t" v-for="t in todos" v-bind:key="todo.title"></todo-item>
	  </ol>
      <p>{{ message }}</p>
      <input v-model="message"/>
      <input type="checkbox" v-on:change="reverseMessage"/>
	 </div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="main.js"></script>

</body>
</html>